version: '3.4'

services:

  movies_admin:
    ports:
    - "8000:8000"

  movies_async_api:
    ports:
    - "8001:8000"

  movies_auth:
    ports:
    - "5000:5000"

  notify_admin:
    ports:
    - "8002:8000"

  notify_api:
    ports:
    - "8003:8000"

  billing_admin:
    ports:
    - "8004:8000"