{% extends 'base.html' %}
{% block title %} Поиск фильмов {% endblock %}
{% block body %}
    <form method="post" action="">
        {% csrf_token %}
        <div class="moviesPart" id="movies">
            <div class="mb-3 input-group">
                <input class="form-control" type="text" placeholder="Введите название фильма..." id="id_query"
                       name="query"
                       value="{{ query }}"/>
                <button type="submit" class="btn btn-primary">Поиск</button>
            </div>

        </div>
    </form>
    {% if data %}
        <table class="table">
            <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Title</th>
                <th scope="col">Rating</th>
                <th scope="col">Access</th>
            </tr>
            </thead>
            <tbody>
            {% for movie in data %}
                <tr>
                    <th scope="row"><a href="{% url 'demo:movies_detail' movie.id %}"> {{ movie.id }}</a></th>
                    <td>{{ movie.title }}</td>
                    <td>{{ movie.imdb_rating }}</td>
                    <td>{{ movie.access_type }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endif %}
    {% if errors %}
        {{ errors }}
    {% endif %}
{% endblock %}

