{% extends 'base.html' %}
{% block title %} Продукты {% endblock %}
{% block body %}
    <style>
        table {
            width: 100%;
        }

        table tr {
            height: 42px;
            margin: 5px;
        }
    </style>
    {% if data %}
        <h2 class="pb-2 border-bottom">Подписки</h2>
        <div class="row g-4 py-5 row-cols-1 row-cols-lg-4">
            {% for product in data.results %}
                <div class="card m-3" style="width: 20rem;">
                    <div class="card-body">
                        <h5 class="card-title">{{ product.name }}</h5>
                        <h6 class="card-subtitle mb-2 text-muted">{{ product.description }}</h6>
                        <div class="row mt-5">
                        {% for fariff in product.tariffs %}
                            <div class="block" style="width: 50%;">
                            {% if fariff.period == "per year" %}Год{% else %}Месяц{% endif %}
                            <p>{{ fariff.price }} руб.</p>
                            <p style="width:120px">
                                {% if fariff.discount.value %}Скидка: {{ fariff.discount.value }} %{% else %}&nbsp;{% endif %}
                            </p>
                            <a class="btn btn-primary" href="{% url "demo:tariff" fariff.id %}">Оформить</a>
                            </div>
                        {% endfor %}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% endif %}

    {% if errors %}
        {{ errors }}
    {% endif %}
{% endblock %}
