{% extends 'base.html' %}
{% block title %} Мои подписки {% endblock %}
{% block body %}
    {{ data }}
    {% if data %}
        <h2 class="pb-2 border-bottom">Подписки</h2>
        <div class="row g-4 py-5 row-cols-1 row-cols-lg-4">
{#            {% for item in data.results %}#}
{#                <div class="feature col">#}
{#                    <h2>{{ item.product__name }}</h2>#}
{#                    <p>{{ item.product__description }}</p>#}
{#                    <p><strong>Цена: </strong>{{ item.price }}</p>#}
{#                    <p><strong>Период: </strong>{% if item.period == "per year" %}Год{% else %}Месяц{% endif %}</p>#}
{#                    {% if item.discount__name %}#}
{#                        <p><strong>Скидка: </strong>{{ item.discount__name }} {{ item.discount__value }}%</p>#}
{#                    {% endif %}#}
{#                    <a href="{% url "demo:tariff" item.id %}" class="icon-link">#}
{#                        Оформить#}
{#                    </a>#}
{#                </div>#}
{#            {% endfor %}#}
        </div>
    {% endif %}

    {% if errors %}
        {{ errors }}
    {% endif %}
{% endblock %}
