{% extends 'base.html' %}
{% block title %} Подписки {% endblock %}
{% block body %}
    <h1>{{ data.product__name }}</h1>
    <p class="fs-5 col-md-8">{{ data.product__description }}</p>
    <p class="fs-5 col-md-8"><strong>ID: </strong>{{ data.id }}</p>
    <p class="fs-5 col-md-8"><strong>Цена: </strong>{{ data.price }}</p>
    <p class="fs-5 col-md-8"><strong>Период: </strong>{% if data.period == "per year" %}Год{% else %}Месяц{% endif %}
    </p>
    {% if data.discount__name %}
        <p class="fs-5 col-md-8"><strong>Скидка: </strong>{{ data.discount__name }} {{ data.discount__value }}%</p>
    {% endif %}

    {% if errors %}
        {{ errors }}
    {% endif %}
    <form action="{% url 'demo:order' %}" method="POST" class="form-inline">
        {% csrf_token %}
        <input type="hidden" name="tariff_id" value={{ data.id }}>
        <div class="row">
            <label class="col-form-label col-auto fs-5"><strong>Платежная система:</strong></label>
            <div class="col-auto">
                <select class="form-select my-1" name="payment_system">
                    <option value="yoomoney" selected>Юмани</option>
                    <option value="stripe">Stripe</option>
                </select>
            </div>
            <div class="col-auto">
                <button class="btn btn-primary my-1" type="submit">Купить</button>
            </div>
        </div>

    </form>
{% endblock %}
