# django
SECRET_KEY=<secret>
DB_HOST=rc1a-7irj22qworosif2n.mdb.yandexcloud.net
DB_NAME=billing
DB_USERNAME=user
DB_PASSWORD=<pwd>
DB_PORT=6432

LOG_LEVEL=INFO
DJANGO_SETTINGS_MODULE=config.settings.production
RABBIT_HOST=rabbitmq
RABBIT_PORT=5672
RABBIT_LOGIN=guest
RABBIT_PASSWORD=<pwd>

# gunicorn
APP_PORT=8000
WORKER_NUMBERS=2
