# django
SECRET_KEY=<secret>
DB_HOST=rc1a-7irj22qworosif2n.mdb.yandexcloud.net
DB_NAME=billing
DB_USERNAME=user
DB_PASSWORD=<pwd>
DB_PORT=6432

LOG_LEVEL=INFO
YMQ_ENDPOINT=message-queue.api.cloud.yandex.net/b1gfp5hmst6r09teroa2/dj60000000021vcr04cv/billing
AWS_ACCESS_KEY_ID=ACCESS_KEY
AWS_SECRET_ACCESS_KEY=SECRET_ACCESS_KEY
AWS_DEFAULT_REGION=ru-central1


# gunicorn
APP_PORT=8000
WORKER_NUMBERS=2

AUTH_SERVER=http://movies_auth:5000

DJANGO_SUPERUSER_USERNAME=admin
DJANGO_SUPERUSER_EMAIL=admin@mail.ru
DJANGO_SUPERUSER_PASSWORD=QWEasd123
