DATABASE_HOST=rc1a-7irj22qworosif2n.mdb.yandexcloud.net
DATABASE_PORT=6432
DATABASE_NAME=movies-auth
DATABASE_USER=user
DATABASE_PASSWORD=********

REDIS_HOST=redis-auth
REDIS_PORT=6379

SECRET_KEY=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ954vdlihtb0is
JWT_SECRET_KEY=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9

GOOGLE_CLIENT_ID=1030190964073-54vdlihtb0isv3q71ioj0ebrp8kglrph.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=0SAqaLpGmDHeqFFdYNt-9-CO

SUPER_EMAIL=admim@mail.com
SUPER_PASS=QWEasd123