DJANGO_SETTINGS_MODULE=config.settings.production
SECRET_KEY=ukv2y&1*40m7uw%^jlwp3-*wng^pr9z&x87f5u@@)ur16n2u*
DJANGO_SUPERUSER_USERNAME=admin
DJANGO_SUPERUSER_EMAIL=admin@mail.ru
DJANGO_SUPERUSER_PASSWORD=QWEasd123
ALLOWED_HOSTS=*

DATABASE_HOST=rc1a-7irj22qworosif2n.mdb.yandexcloud.net
DATABASE_PORT=6432
DATABASE_NAME=movies
DATABASE_USER=user
DATABASE_PASSWORD=useruser
