SECRET_KEY=3ftit-1%ly!tu^yio4i)6x3kix@s%!64m@5e*1fum4x3yjmfr$
DB_HOST=postgres
DB_NAME=postgres
DB_USERNAME=postgres
DB_PASSWORD=postgres
DB_PORT=5432

LOG_LEVEL=INFO
DJANGO_SETTINGS_MODULE=config.settings.dev
RABBIT_HOST=rabbitmq
RABBIT_PORT=5672
RABBIT_LOGIN=guest
RABBIT_PASSWORD=test12

# gunicorn
APP_PORT=8000
WORKER_NUMBERS=2

# worker
EMAIL_SENDER=useruser@yandex.ru
EMAIL_PASSWORD=useruser
EMAIL_SERVER=smtp.yandex.ru
EMAIL_PORT=587
MQ_EXCHANGE_NOTIFY=movies.e.notify
