{
  "local": {
    "token": "76044193da7153c6b8493234cdaf688bc5b259dd",
    "email": "aleks3@mail.com",
    "password": "aleks@mail.com",
    "recaptcha": "recaptcha",
    "access_token": "eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJmcmVzaCI6ZmFsc2UsImlhdCI6MTYxOTg2NjY1NywianRpIjoiYTZjY2Y0N2EtYWMyYi00MWNmLTlkOGUtNzU5ZmY1MmRhOWQ1IiwibmJmIjoxNjE5ODY2NjU3LCJ0eXBlIjoiYWNjZXNzIiwic3ViIjoiYWxla3NAbWFpbC5jb20iLCJleHAiOjE2MTk4Njc1NTcsImRldmljZSI6IkFwYWNoZS1IdHRwQ2xpZW50LzQuNS4xMyAoSmF2YS8xMS4wLjEwKSIsInNlc3Npb24iOiJkZmYyNjJiNS0zZTRkLTQ2NmItOWZhMy00NThjY2ExZThiZDEiLCJyb2xlcyI6W10sImlzX3N1cGVydXNlciI6ZmFsc2V9.tP7olSejrT6GyNFNvuqRxZDlMfZ-lh-E7HYQz_qW8FU",
    "refresh_token": "eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJmcmVzaCI6ZmFsc2UsImlhdCI6MTYxOTg2NjY1NywianRpIjoiOTkwODI4OWUtNmUwYy00Y2MwLTgzZDYtOTgwNzYwNTg2MWM1IiwibmJmIjoxNjE5ODY2NjU3LCJ0eXBlIjoicmVmcmVzaCIsInN1YiI6ImFsZWtzQG1haWwuY29tIiwiZXhwIjoxNjE5ODcwMjU3LCJkZXZpY2UiOiJBcGFjaGUtSHR0cENsaWVudC80LjUuMTMgKEphdmEvMTEuMC4xMCkiLCJzZXNzaW9uIjoiZGZmMjYyYjUtM2U0ZC00NjZiLTlmYTMtNDU4Y2NhMWU4YmQxIiwicm9sZXMiOltdLCJpc19zdXBlcnVzZXIiOmZhbHNlfQ.QsMzkDYpX5KwcS5y7qozH065vs7HUP5Y8iBAwg5tMeE"
  },
  "prod": {
    "token": "76044193da7153c6b8493234cdaf688bc5b259dd",
    "email": "aleks3@mail.com",
    "password": "aleks@mail.com",
    "recaptcha": "recaptcha",
    "access_token": "eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJmcmVzaCI6ZmFsc2UsImlhdCI6MTYxOTg2NjY1NywianRpIjoiYTZjY2Y0N2EtYWMyYi00MWNmLTlkOGUtNzU5ZmY1MmRhOWQ1IiwibmJmIjoxNjE5ODY2NjU3LCJ0eXBlIjoiYWNjZXNzIiwic3ViIjoiYWxla3NAbWFpbC5jb20iLCJleHAiOjE2MTk4Njc1NTcsImRldmljZSI6IkFwYWNoZS1IdHRwQ2xpZW50LzQuNS4xMyAoSmF2YS8xMS4wLjEwKSIsInNlc3Npb24iOiJkZmYyNjJiNS0zZTRkLTQ2NmItOWZhMy00NThjY2ExZThiZDEiLCJyb2xlcyI6W10sImlzX3N1cGVydXNlciI6ZmFsc2V9.tP7olSejrT6GyNFNvuqRxZDlMfZ-lh-E7HYQz_qW8FU",
    "refresh_token": "eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJmcmVzaCI6ZmFsc2UsImlhdCI6MTYxOTg2NjY1NywianRpIjoiOTkwODI4OWUtNmUwYy00Y2MwLTgzZDYtOTgwNzYwNTg2MWM1IiwibmJmIjoxNjE5ODY2NjU3LCJ0eXBlIjoicmVmcmVzaCIsInN1YiI6ImFsZWtzQG1haWwuY29tIiwiZXhwIjoxNjE5ODcwMjU3LCJkZXZpY2UiOiJBcGFjaGUtSHR0cENsaWVudC80LjUuMTMgKEphdmEvMTEuMC4xMCkiLCJzZXNzaW9uIjoiZGZmMjYyYjUtM2U0ZC00NjZiLTlmYTMtNDU4Y2NhMWU4YmQxIiwicm9sZXMiOltdLCJpc19zdXBlcnVzZXIiOmZhbHNlfQ.QsMzkDYpX5KwcS5y7qozH065vs7HUP5Y8iBAwg5tMeE"
  }
}
